# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives<b>:
- List popular languages for Data Science
- List commonly used libraries by Data Scientists
- Showcase arithmetic expressions in Python

## Author
Murtadha BinGhanim

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. MATLab
4. SQL

Some of the commonly used libraries used by Data Scientists include:
- Pandas
- Numpy
- Matplotlib

|Data Science Tools|
|------------------|
|Jupyter           |
|Spyder            |
|VS Code           |

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
minutes_to_hours = minutes / 60
print(minutes_to_hours)

3.3333333333333335